h1 {
    font-size: 72px;
    background-image: linear-gradient(90deg, red, yellow, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin: auto;
  }
  
  .rectangle {
      width: 25%;
      height: 15%;
      margin: auto;
      background-color: red;
      position: relative;
      top: 100px;
  }

  .content {
      width: 80%;
      margin: auto;
  }